<!doctype html>
<html lang="en-UK">
<head>
    <meta charset="UTF-8">
    <title>Population Visualiser</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src = "static/script.js"></script>
</head>
<body>
    <header>
        <h1>Morgan's Population Visualiser</h1>
        <nav class="buttons">
            <button type="button" onclick="window.location.href = '/world_breakdown'">World Breakdown</button>
            <button type="button" onclick="window.location.href = '/country_breakdown'">Country Breakdown</button>
        </nav>
    </header>
    <div id="linebreak"></div>
</body>
</html>